/autom4te.cache/
/config/
app.info
compile
coverage_report
m4
missing
stamp-h1
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
src/bin/.deps
lib/libstatic/.deps
lib/libshared/.deps
src/bin/hello
